In [3]:
f=open('file.txt','x')
print(f)

<_io.TextIOWrapper name='file.txt' mode='x' encoding='cp1252'>

In [8]:
f=open('file.txt','w')
f.write("hello my name is iman")
f.close()

<_io.TextIOWrapper name='file.txt' mode='w' encoding='cp1252'>

In [11]:
f=open('file.txt','r')
print(f.read())

hello my name is iman

In [14]:
file=open('student.txt','w')
file.write("Student Name:Iman , Student Age: 20")
file.close()

Student Name:Iman , Student Age: 20

In [15]:
file=open('student.txt','r')
print(file.read())

Student Name:Iman , Student Age: 20

In [18]:
files=open('number.txt','w')
for i in range(1,11):
    files.write(str(i)+'\n')
files.close()

In [19]:
files=open('number.txt','r')
print(files.read())

1
2
3
4
5
6
7
8
9
10

In [24]:
name=input("enter the name :")
age=int(input("enter the age :"))
data=open('data.txt','w')
data.write("Name:" + name + '\n')
data.write("Age:" + str(age) +'\n')
data.close()

enter the name : iman
enter the age : 20

In [25]:
data=open('data.txt','r')
print(data.read())

Name:iman
Age:20

In [34]:
count=0
story=open('story.txt','w')
story.write('The bright sun slowly rose above the horizon, spreading golden light across the peaceful sky, awakening nature with gentle warmth.')
story.close()
story=open('story.txt','r')
stor=story.read()
print(len(stor))

130

In [27]:
mark=open('marks.txt','w')
average=0
n=int(input("enter the number of students:"))
marks=[]
for i in range(1,n+1):
    m=int(input(f"enter marks of student {i} :"))
    marks.append(m)
    average+=m
    mark.write(str(m)+'\n')
average/=n
mark.write("Average="  + str(average) )
maxi=marks[0]
for i in marks:
    if i > maxi:
        maxi=i
mark.write("maximum numbers is " + str(maxi))
mini=marks[0]
for i in marks:
    if i < mini:
        mini=i
mark.write("minimum number is " + str(mini) )
mark.close()
marks=open('marks.txt','r')
marks.read()

Enter the number of students:  4
Enter marks of student 1:  4
Enter marks of student 2:  5
Enter marks of student 3:  6
Enter marks of student 4:  7

Data saved in marks.txt successfully!

'4\n5\n6\n7\nAverage = 5.5\nMaximum number is 7\nMinimum number is 4\n'

In [34]:
import datetime
log=open('log.txt','w')
now_date=datetime.date.today()
now_time=datetime.datetime.now().time()
log.write("Date:"+str(now_date) +'\n')
log.write("time"+str(now_time) + '\n')
log.close()
log=open('log.txt','r')
log.read()

'Date:2025-09-16\ntime22:35:43.855214\n'

In [41]:
# Writing records
with open('records.txt','w') as record:
    n=int(input("Enter the number of students: "))
    for i in range(1,n+1):
        name=input(f"Enter the name of student {i}: ")
        age=int(input(f"Enter the age of student {i}: "))
        city=input(f"Enter the city of student {i}: ")
        record.write(f"{name},{age},{city}\n")   # added newline and removed extra spaces

print("Students with age 18 or more:")

# Reading and filtering
with open('records.txt','r') as record:
    for i in record:
        name, age, city = i.strip().split(",")
        if int(age) >= 18:
            print(f"Name: {name}\nAge: {age}\nCity: {city}\n")

Enter the number of students:  3
Enter the name of student 1:  iman
Enter the age of student 1:  20
Enter the city of student 1:  lahore
Enter the name of student 2:  isra
Enter the age of student 2:  15
Enter the city of student 2:  okara
Enter the name of student 3:  taiba
Enter the age of student 3:  18
Enter the city of student 3:  ksk

Students with age 18 or more:
Name: iman
Age: 20
City: lahore

Name: taiba
Age: 18
City: ksk